* {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.badge {
  padding: 0.125rem 0.75rem;
  display: inline-block;
  text-align: center;
}

.badge-text {
  font-size: 0.875em;
  font-weight: 500;
}

.square {
  border-radius: 0.25rem;
}

.pill {
  border-radius: 0.75rem;
}

.badges-container {
  margin-top: 0.625em;
  display: inline-flex;
  width: 60%;
  flex-wrap: wrap;
  gap: 0.625rem;
}
